.rouge1{
	color: red;
	font-family: "Arial", sans-serif;
}
.bleu1{
	color: blue;
	font-family: "Arial", sans-serif;
}
.vert1{
	color: green;
	font-family: "Arial",  sans-serif;
}
.rouge2{
	background-color: red;
	font-family: monospace;
}
.bleu2{
	background-color: blue;
	font-family: monospace;
}
.vert2{
	background-color: green;
	font-family: monospace;
}