ul{
	margin: 2em 0;
	padding: 0;
	list-style-type: none;
	border: 1px solid black; 
}


li{
	padding: 1em;
}


li:first-child{
	background-color: red;
}
li:nth-child(2){
	background-color: blue;
}
li:nth-child(3){
	background-color: green;
}
li:nth-child(4){
	background-color: yellow;
}
li:nth-child(5){
	background-color: orange;
}
li:nth-child(6){
	background-color: pink;
}





.test-1{
	display: flex;
}
.test-2{
	display: flex;
	flex-direction: row-reverse;
}
.test-3{
	display: flex;
	flex-direction: column;
}
.test-4{
	display: flex;
	flex-direction: column-reverse;
}
.test-5{
	display: flex;
	width: 200px;
	flex-wrap: nowrap;
}
.test-6{
	display: flex;
	width: 200px;
	flex-wrap: wrap;
}


.test-7{
	display: flex;
	align-items: center;
}
.test-7 li:nth-child(odd){
	line-height: 4em;
}


.test-8{
	display: flex;
	align-items: flex-start;
}
.test-8 li:nth-child(odd){
	line-height: 4em;
}


.test-9{
	display: flex;
	align-items: flex-end;
}
.test-9 li:nth-child(odd){
	line-height: 4em;
}


.test-10{
	display: flex;
	justify-content: center;
}
.test-11{
	display: flex;
	justify-content: flex-start;
}
.test-12{
	display: flex;
	justify-content: flex-end;
}
.test-13{
	display: flex;
	justify-content: space-between;
}
.test-14{
	display: flex;
	justify-content: space-around;
}


.test-15{
	display: flex;
}
.test-15 li:nth-child(1){
	order:4;
}
.test-15 li:nth-child(2){
	order:5;
}
.test-15 li:nth-child(3){
	order:1;
}
.test-15 li:nth-child(4){
	order:6;
}
.test-15 li:nth-child(5){
	order:3;
}
.test-15 li:nth-child(6){
	order:2;
}